font-face {
    font-family: consolas;
}

#current_players {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

#menu_items {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#menu_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}